.app__header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}
.app__header .app__header__middle ul {
  display: flex;
}
.app__header .app__header__middle ul li {
  margin-left: 20px;
}
.app__header__right {
  display: flex;
}
.app__header .app__header__right .app__header__right__item {
  margin-left: 20px;
}
.app__header__right__item button i {
  margin-right: 20px;
}
